:root {
    --primaryColorGreen: #68bb30;
    --primaryColorGreenLight: hsl(96, 59%, 76%);
    --primaryColorWhite: #ffffff;
    /*--primaryColorWhite: #fff5f5;*/
    --primaryColorBlack: #000f00;
    --front: font-family: Arial;
}

* {
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primaryColorWhite);
    font-family: sans-serif;
}

legend,label,input,ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.input-toggler {
    display: none;
    right: 0;
}

.menu-toggler {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    background: var(--primaryColorGreen);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-top-left-radius: 50%;      /* coin arrondi */
    border-top-right-radius: 0%;  /* coin non arrondi */
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.menu-toggler-line {
    width: 60%;
    height: 3px;
    background: var(--primaryColorWhite);
    margin: 0 0 10px 0px;
    position: relative;
    transition: all .40s ease-out;
}

/* motion line */
.input-toggler:checked~.menu-toggler .menu-toggler-line {
    top: 5px;
    translate: 100px;
    transform: rotate(45deg);
    background: var(--primaryColorBlack);
}

.input-toggler:checked~.menu-toggler .menu-toggler-line:nth-child(2) {
    display: none;
    background: var(--primaryColorGreen);
}

.input-toggler:checked~.menu-toggler .menu-toggler-line:nth-child(3) {
    top: -5px;
    translate: 10;
    transform: rotate(135deg);
    background: var(--primaryColorBlack);
}

.input-toggler:checked~.menu-toggler {
    background: var(--primaryColorWhite);
}

.nav {
    width: 100%;
    height: 100%;
    background: var(--primaryColorGreen);
    position: absolute;
    align-items: end;
}

.nav ul {
    width: 100%;
}

.nav ul li {
    width: 100%;
    text-align: center;
}

.nav ul li a {
    display: inline-block;
    font-size: 36px;
    color: var(--primaryColorWhite);
    text-transform: uppercase;
}
.headerContainer{
    height: inherit;
}

header{
    position: fixed;
    height: 90px;
    display: block;
    z-index: 100;
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--primaryColorGreen);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all .40s ease-out;
    /*border-top-left-radius: 50%;*/
    /*z-index: 1;*/
}

.menu-link {
    color: white;
    font-size: 10vmin;
    line-height: 15vmin;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    /* font-weight: bold; */
}

.menu-link:hover{
    color: var(--primaryColorGreenLight);
}
.menu-link:focus,.menu-link:active {
    color: var(--primaryColorBlack);
}

.input-toggler:checked~.sidebar {
    transform: translateX(0%);
    opacity: .98;
}

/* From Uiverse.io by Cobp */
.container-items {
    justify-content: center;
    display: flex;
    transform-style:preserve-3d;
    transform: perspective(1500px);
    width: 100wh;
}

.item-color {
    top: 200px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
    cursor: pointer;

    ::after {
        position: absolute;
        inset: 0;
        width: 40px;
        height: 40px;
        background-color: var(--color);
        /*border-radius: inherit;*/
        transform: scale(1.5);
        pointer-events: none;
        transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
    }

    ::before {
        position: absolute;
        content: attr(aria-color);
        left: 65%;
        bottom: 52px;
        font-size: 8px;
        line-height: 12px;
        transform: translateX(-50%);
        padding: 2px 0.25rem;
        background-color: #ffffff;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
    }

    &:hover {
        transform: scale(1.2);
        z-index: 99999;

        ::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &:active::after {
        transform: scale(1.5);
    }

}

.item-color:hover+* {
    transform: scale(1.3);
    z-index: 9999;
}

.item-color:hover+*+* {
    transform: scale(1.15);
    z-index: 999;
}

.item-color:has(+ *:hover) {
    transform: scale(1.3);
    z-index: 9999;
}

.item-color:has(+ * + *:hover) {
    transform: scale(1.15);
    z-index: 999;
}

.glassBox{
    /* From https://css.glass */
    /*justify-items: center;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 350px;
    width: 600px;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    display: block;
    text-size-adjust: 100%;
    transition: all 0.3s ease;   
}

.glassBox:hover{
    transform: translateY(-30px);
}

.hero {
  background: 
    linear-gradient(rgba(245, 241, 241, 0) 60%, var(--primaryColorWhite) 100%),
    url("img\ dev.jpg") top/cover no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
}

.logoBox{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
    z-index: 1;
}

img {
    width: auto;
    height: auto;
    object-fit:contain;
}

footer{
    justify-items: center;
    display: block;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footerBox{
    width: 80vw;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: var(--primaryColorWhite);
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    overflow: hidden;
    position: relative;
    justify-content: space-evenly;
    top: 20px; /*decale baseline*/
    display: flex;
    align-items: center;
}

button {
 width: 260px;
 height: 40px;
 border-top-left-radius: 30em;
 border-bottom-left-radius:30em ;
 border-bottom-right-radius: 30em;
 /*border-radius: 30em;*/
 background-color: var(--primaryColorWhite);
 font-size: 15px;
 font-weight: bold;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button::before {
 content: '';
 width: 0;
 height: inherit;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right,var(--primaryColorGreen) 0%, var(--primaryColorWhite) 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
 border-top-right-radius: 0px;
}

button:hover::before {
 width: inherit;

}


/*-------------------FORM------------------*/
/* From Uiverse.io by gharsh11032000 */ 
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}




