:root {
    --primaryColorGreen: #68bb30;
    --primaryColorGreenLight: hsl(96, 59%, 70%);
    --primaryColorWhite: #ffffff;
    /*--primaryColorWhite: #fff5f5;*/
    --primaryColorBlack: #000f00;
    --front: font-family: Arial;
    --front-color:hsl(0, 0%, 50%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
body {
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: var(--primaryColorWhite);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: top;
    height:100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
legend,label,input,ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.frame{
    width: 50vw;
    height: 100vh;
}
.picture-panel {
  padding: 6%;
  border-radius: 150px;
  width: inherit;
  height: inherit;
}
.frameVertical{
    position:absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    height: inherit;
    width: inherit;
    padding: 6%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px;
}
.form-group {
margin-bottom: 15px;
min-height: 0px;
display: ;
}
input{
    min-height: 30px;
    border-radius: 5px;
    min-width: 100px;
    padding: 10px;
    border: 0.2px solid hsl(0, 0%, 50%);
}
.form-label{
    display: block;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}